In [3]:
import os
import sys
from pathlib import Path
import pandas as pd

from src.exception import CustomException
from src.logger import logging

train_df = pd.read_csv(
    "/Users/sekyichin/Downloads/Bankruptcy-Prediction/notebook/data/3year.csv"
)

In [11]:
numerical_columns = [i for i in range(0, 64)]
target_column_index = [64]

input_feature_train_df = train_df.drop(
    train_df.columns[target_column_index], axis=1, inplace=False
)
print(len(input_feature_train_df.columns))
print(len(train_df.columns))
target_feature_train_df = train_df.iloc[:, target_column_index]

64
65

In [2]:
import pandas as pd
column_names = pd.read_csv("column_names.txt", header=None)
column_names

                                                    0
0                           net profit / total assets
1                    total liabilities / total assets
2                      working capital / total assets
3             current assets / short-term liabilities
4   [(cash + short-term securities + receivables -...
..                                                ...
60                                sales / receivables
61              (short-term liabilities *365) / sales
62                     sales / short-term liabilities
63                               sales / fixed assets
64                                              class

[65 rows x 1 columns]